@font-face {
  font-family: "Wolfs Bane";
  src: url("https://www.fear.io/fonts/wolfsbane2.ttf") format("truetype");
}


body {
	background-color: var(--bgcolor, #000);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}

h1, h2, h3, h4, h5, h6, #logo a, .menu-link, .mega-menu-style-2 .mega-menu-title > .menu-link, .top-search-form input, .entry-link, .entry.entry-date-section span, .button.button-desc, .fbox-content h3, .tab-nav-lg li a, .counter, label, .widget-filter-links li a, .nav-tree li a, .wedding-head, .font-primary {font-family:DM Sans ! important;}

.border-light,
.line { border-color: transparent !important; }

.bg-color,
.page-transition-wrap, .css3-spinner { background-color: var(--bgcolor, #000) !important; }

.css3-spinner > div {  background-color: var(--themecolor, #c0565a) !important; }
.wrapimage150 {display:inline-block ! important;width:150px ! important;}

.dark body,
.dark h1,
.dark h2,
.dark h2 span,
.dark h3,
.dark h3 span,
.dark h4,
.dark h5,
.dark h6,
.dark #copyrights,
#copyrights.dark,
.dark .copyright-links a { color: #c0565a; }


h5 { color: #c0565a ! important; }

#wrapper,
#content {
	background-color: transparent;
}

.dark #header-wrap {
	background-color: var(--bgcolor, #2E364F);
}

.menu-link {
	text-transform: none;
	font-weight: 400;
	font-size: 16px;
}

@media (max-width: 991.98px) {
	.menu-item:hover .menu-link::after,
	.menu-item.current .menu-link::after {
		content: none;
	}
}

@media (min-width: 991px) and (max-width: 1200px) {
	.menu-link {
		font-size: 14px;
	}
}

.btn-border {
	--btn-y-padding: 10px;
	--btn-x-padding: 17px;
	padding: 0;
	display: inline-flex;
	align-items: center;
	font-family: var(--font-family, 'Prata', Serif );
	border: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	overflow: hidden;
	letter-spacing: 1px;
	font-size: 14px;
}

.btn-border.size-lg {
	--btn-y-padding: 15px;
	--btn-x-padding: 20px;
}

.btn-border.size-sm {
	--btn-y-padding: 7px;
	--btn-x-padding: 13px;
}

.btn-border i {
	font-size: 18px;
	padding: var(--btn-y-padding, 10px) var(--btn-x-padding, 17px);
	border-right: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.btn-border span {
	position: relative;
	padding: calc(var(--btn-y-padding, 10px) + 5px) var(--btn-x-padding, 17px);
}

.menu-link::after,
.menu-link .menu-link::after,
.btn-border span::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	transition: width .5s cubic-bezier(.645, .045, .355, 1);
}

.btn-border span::before {
	height: 100%;
	background-color: rgba(var(--themecolorrgba, 241,199,122), 0.075);
}

.menu-item:hover .menu-link::after,
.menu-item.current .menu-link::after,
.btn-border:hover span::before {
	width: 100%;
}


.box-img::before {
	content: "";
	position: absolute;
	right: -5px;
	top: -5px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	z-index: -1;
	background-color: rgba(var(--themecolorrgba, 241,199,122), 0.1);
	border: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	border-radius: 0.25rem;
}

blockquote {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.8;
}

/* ----------------------------------------------------------------------------
	Counter Grid
---------------------------------------------------------------------------- */

.counter-wrap [class^=col-]:not(:first-child):before{
	content: '';
	position: absolute;
}

.counter-wrap [class^=col-]:before {
	height: 100%;
	top: 0;
	left: -25%;
	border-left: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}


/* ----------------------------------------------------------------------------
	Services Grid
---------------------------------------------------------------------------- */

.grid-border {
	overflow: hidden;
	border: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.grid-border [class^=col-]:before,
.grid-border [class^=col-]:after {
	content: '';
	position: absolute;
}

.grid-border [class^=col-]:before {
	height: 100%;
	top: 0;
	left: -1px;
	border-left: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.grid-border [class^=col-]:after {
	width: 100%;
	height: 0;
	top: auto;
	left: 0;
	bottom: -1px;
	border-bottom: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}


.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.testi-image,
.testi-image a,
.testi-image img,
.testi-image i {
	width: 80px;
	height: 80px;
}

.testi-content {
	margin-top: 20px;
}

.testi-content p {
	font-style: normal;
	font-size: 1.15rem;
	font-weight: 300;
}

.testi-meta {
	margin-top: 25px;
    font-size: 22px;
    text-transform: none;
    color: #c0565a;
}
.testi-meta::before { display: none; }
.testi-meta span {
	font-family: var(--font-family-body, 'Roboto', Serif);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}

.owl-carousel .owl-nav [class*=owl-] {
	opacity: 1 !important;
	background-color: black;
	border: 2px solid #c0565a;
	color: #c0565a;
	width: 40px;
	height: 40px;
	margin: 0px;
	font-size: 24px;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {background:#c0565a ! important;color:black ! important;}

.wolftraitscarousel img {border-radius:0 ! important;}



#oc-testi .owl-item {
	border-right: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
}

.owl-prev i {
	position: relative;
	left: -1px;
}

#oc-testi .owl-item img,
#oc-testi .owl-item p,
#oc-testi .owl-item .testi-meta {
	opacity: 0;
}

#oc-testi .owl-item.active img,
#oc-testi .owl-item.active p,
#oc-testi .owl-item.active .testi-meta {
	opacity: 1;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: fade-in-bottom;
	animation-name: fade-in-bottom;
	animation-iteration-count: 1;

}
#oc-testi .owl-item.active p {
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}
#oc-testi .owl-item.active .testi-meta {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.dark #copyrights p,
.dark .copyright-links a {
	font-weight: 400;
	opacity: .4;
}

@media (min-width: 992px) {

	.transparent-header.floating-header .container,
	.transparent-header.floating-header .container {
		background-color: transparent !important;
	}

	.transparent-header.floating-header.sticky-header .container,
	.transparent-header.floating-header.sticky-header .container {
		background-color: rgba(255,255,255, 0.05) !important;
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
	}

	#header-wrap {
		background-color: transparent !important;
		box-shadow: none !important;
		top: 0;
		transition: top .4s ease;
		will-change: inherit;
	}

	.sticky-header #header-wrap {top:30px;}

	#header .menu-link {
		padding-top: 10px !important;
	    padding-bottom: 10px !important;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	
.dark .menu-link a:hover {color:#e94b59 ! important;}

	.menu-container > li {
		counter-increment: step-counter;
	}



	.header-misc a {
		padding: 39px 27px;
		border-left: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
		background-color:  var(--themecolor, #F1C77A);
		color: var(--bgcolor, #2E364F) !important;
	}

	#logo {
		border-right: 1px solid rgba(var(--themecolorrgba, 241,199,122), var(--border-opacity, .15));
	}
}

#toast-container > div {
	border-radius: 4px;
	font-size: .925rem;
	opacity: .95;
	border: 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.toast-success {
	background-color: var(--themecolor, #F1C77A) !important;
	color: var(--bgcolor, #2E364F) !important;
}

.toast-message strong {
	text-decoration: underline;
	text-transform: capitalize;
}

.videocon {position:absolute;top:0;}

.primary-menu {background:rgba(0,0,0,0.8);position:absolute;right:100px;top:20px;border-radius:10px;z-index:1;}
#slider {z-index:0;}
.menu-button-link {padding:5px 10px;color:white;font-family:Wolfs Bane;text-transform:uppercase;letter-spacing:2px;font-size:12pt;border-radius:10px ! important;}
.menu-item:hover .menu-button-link {color:#ffa800;}
h2.main-slogan {font-family:Wolfs Bane ! important;font-size:27pt;color:#fff ! important;padding:5px 10px;display:inline-block;letter-spacing:3px;text-shadow: -4px 4px 2px #000;}
li.current a {background:none;color:#c0565a ! important;border-radius:10px 0 0 10px ! important;}
li.mid-item a {border-radius:0 ! important;}
li.current .menu-button-link {color:#e94b59  ! important;}
p.maindesc {background:rgba(0,0,0,0.5);padding:10px 14px;font-size:15pt;border-radius:10px;font-family:DM Sans;}
/*.menu-button-link:hover {background:rgba(250,215,115,0.5);}*/
p.maindesc a {color:#c4424c;}
.buttonicon img {width:51px;}
span.questiontext {font-size:14pt ! important;color:#c4424c ! important;font-family:DM Sans;}
span.questiontext:hover {color:white ! important;}
.bigbutton {background:rgba(0,0,0,0.5);border-radius:10px ! important;border:2px solid #c0565a;color:white;}
.bigbutton2 {margin-right:10px;}
.bigbutton span.questiontext {color:white ! important;}
.bigbutton:hover {color:#c0565a;border:2px solid #fff;}
#logo a.standard-logo {font-family:Wolfs Bane ! important;-webkit-text-stroke: 1px #000;color:#c0565a ;text-shadow: 0 0 5px #000, 0 0 5px #000, 0 0 10px #000, 0 0 20px #000, 0 0 20px #000, 0 0 30px #000, 0 0 30px #000;}
/* h2.main-slogan {text-shadow: 0 0 20px rgba(0,0,0, 0.5), 0 0 20px rgba(0,0,0, 0.5), 0 0 20px rgba(0,0,0, 0.5), 0 0 20px rgba(0,0,0, 0.5), 0 0 20px rgba(0,0,0, 0.5), 0 0 20px rgba(0,0,0, 0.5), 0 0 20px rgba(0,0,0, 0.5);} */
h2.main-slogan {text-shadow: -2px 2px 1px #000;}

-2px 2px 1px #000
#logo a.standard-logo span.textwolf {text-transform:lowercase ! important;margin-left:10px;}
#logo a.standard-logo span {display:inline-block;}
#header.transparent-header.dark, #header.transparent-header.dark:not(.sticky-header) #header-wrap {background:none ! important;}
.dark #header, #header.dark {background:none;}
h3 {font-family:Wolfs Bane ! important;}
#standard-logo span {float:left;height:63px;margin-right:10px;}
.color {color: #c0565a !important;}
.stretched #gotoTop {background:#c0565a;}
.dark #header-wrap {background:none ! important;}
.title-border::before, .title-border::after {border:none ! important;}
.wolfheader h2 {color:#c0565a ! important;font-family:Wolfs Bane ! important;font-size:40pt;font-weight:normal;letter-spacing:6px;display:block;}
.multiplegames h3 {color:#c0565a ! important;display:block;text-align:center;font-size:20pt;font-weight:normal;font-family:DM Sans ! important;}
.iconleft {display:inline-block;margin-right:10px;}
.iconleft img {width:20px;}
li.gamedesc {margin-bottom:15px;color:#ccc;}
h5.measurementheader {text-align:center;}
.counter {display:block;text-align:center;}
.fearwolfdesc p {margin:0;padding:20px 0 0 0;font-size:14pt ! important;}
h3.featuredgamesheader  {font-size:28pt;}
#section-games {background:url(../images/fearwolf/fear-wolf-background-subpage-4.jpg) no-repeat 0 -100px;background-size:cover;padding-top:40px;}
.fearwolfdesc a {color:#c0565a;}
.fearwolfdesc a:hover {color:white;}

@media (max-width: 1400px) {
h3.featuredgamesheader  {font-size:25pt;}
}

@media (max-width: 1200px) {
.itsshow {margin-top:20px ! important;}
h2.main-slogan {font-size:27pt;}
}

.owl-carousel .owl-nav .owl-next {right:-40px;left:auto;}
.owl-carousel:hover .owl-nav .owl-next {right:15px;}
.owl-carousel .owl-nav .owl-prev {left:-40px;right:auto;}
.owl-carousel:hover .owl-nav .owl-prev {left:15px;}
#oc-portfolio {padding:0 1%;}
p.highlightp {font-size:14pt ! important;}


@media (max-width: 1000px) {
.itsshow {margin-top:10px ! important;}
.container-md, .container-sm, .container {max-width: 880px;}
.menu-button-link, #transakLink {font-size:10pt ! important;}
.menu-link {padding:6px 5px;}
#logo a.standard-logo {color:white;}
.videocon {overflow:hidden;}
.videocon video {width:150% ! important;left:-300px;position:relative;}
.itsshow {  margin-top: 115px ! important;}
#logo a {font-size:30px;}
.multiplegamessection, #section-games {padding-top:0 ! important;}
h3.featuredgamesheader  {text-align:center;}
#section-games {background-size:150%;}
.statssec .col-4 {width:25%;}
.statssec {margin-bottom:50px;}

.owl-carousel .owl-nav .owl-next {right:15px;left:auto;}
.owl-carousel:hover .owl-nav .owl-next {right:15px;}
.owl-carousel .owl-nav .owl-prev {left:15px;right:auto;}
.owl-carousel:hover .owl-nav .owl-prev {left:15px;}
#oc-portfolio {padding:0 1%;}
}
@media (max-width: 900px) {
.container-md, .container-sm, .container {max-width: 780px;}
.itsshowtime2 {width:60%;}
.itsshow {margin-top:95px ! important;}
.fearwolfdesc p {margin:0;padding:30px 0 0 0;}
}
@media (max-width: 780px) {
h2.main-slogan {font-size:40pt;}
.container-sm, .container {max-width: 720px;}
p.maindesc {width:82%;font-size:11pt;}
#section-launch {background-position:0 top ! important;background-size:130% ! important;}
.statssec .col-4 {padding-left:5% ! important;}
}

@media (max-width: 670px) {
.direwolfvideo {width:50%;}
#section-price {background-size:200% ! important;}
}

@media (max-width: 570px) {
p.maindesc {width:100%;}
h2.main-slogan {font-size:35pt;}
.itsshow {margin-top:28px ! important;}
.videocon video {width:130% ! important;left:-150px;position:relative;}
h2.main-slogan {color:#fff! important;-webkit-text-stroke:1px black;}
#logo a.standard-logo {color:#c0565a;}
.itsshowtime2 {width:80%;}
h2.main-slogan {font-size:28pt;}
.statssec .col-4 {padding-left:7% ! important;}
.statssec .col-4 .counter {font-size:29px ! important;}
p.highlightp {font-size:12pt ! important;}
}

.mobile520 {display:none ! important;}

@media (max-width: 520px) {
.desktop520 {display:none ! important;}
.mobile520 {display:inline-block ! important;color:black ! important;}
.mobile520 img {width:40px ! important;}
.direwolfvideo {width:70%;}
#section-games {background-size:200%;}
}

h3.featuredgamesheader span {color:#fff ! important;display:inline-block;margin-top:10px;}
h3.featuredgamesheader {text-align:center ! important;}
h3.featuredgamesheader i {display:inline-block;}
h3.featuredgamesheader img {width:54px ! important;margin-right:10px;}
p.auctionphrase {font-weight:bold ! important;font-size:16pt ! important;color:white ! important;font-weight:normal ! important;text-align:center ! important;display:block ! important;margin-bottom:10px ! important;}

.fearwolfdesc {display:block;text-align:center;width:100%;overflow:hidden;padding:0 15%;color:#ccc;margin-bottom:40px;}
.fearwolfdesc p {float:none;}
.textaligncenter {width:100%;text-align:center;margin-bottom:20px;}

@media (max-width: 470px) {
.videocon video {width:140% ! important;left:-130px;position:relative;}
h3.featuredgamesheader {text-align:center;font-size:25pt;}
h3.featuredgamesheader span {display:block;margin-top:5px;}
h3.featuredgamesheader img {display:inline-block;}
p.auctionphrase {font-size:15pt ! important;}
.statssec .col-4 .counter {font-size:23px ! important;}
}
@media (max-width: 400px) {
img.alignleft {display:block;float:none;margin-bottom:10px ! important;}
.col-auto, .mt-4 {padding:0 5%;}
.gradient-horizon {font-size:10pt ! important;}
}

.gradient-horizon {
	background: black ! important;
	padding:3px 10px 3px 3px;
	border-radius:10px ! important;
	color:#c0565a ! important;
	border:3px solid #c0565a;
}

.direwolfvideo:before {padding:0 ! important;display:none ! important;}
p.#c0565aword {color:#c0565a;font-style:italic;}
.gamelist {margin-top:20px;text-align:center;}
.gamelist li, .gamelist li img {height:60px;width:auto;margin-bottom:20px;}
.gamelist li {list-style:none;display:inline-block;margin-right:20px;}
h2.wolfutility {font-size:14pt;text-align:center;margin:0;}
.discovermore {color:#c0565a ! important;}
.discovermore:hover {color:white ! important;}
.headericon img, .headericon span {display:inline-block;margin-right:20px;}
.headericon img {width:50px ! important;}
#section-launch .headericon img {width:80px ! important;}
.header#c0565a, .header#c0565a span {color:#c0565a ! important;}
.sectionmoon {padding-top:0 ! important;margin-top:0 ! important;}
#logo {border-right:0 ! important;}

.sectionmoon h3 {color:white ! important;font-weight:normal ! important;-webkit-text-stroke: none;letter-spacing:2px;text-align:center;font-family:Wolfs Bane ! important;text-shadow:-3px 3px 3px #000;}
.wolfnumbers .textoutlineoverride {color:white ! important;font-weight:normal ! important;letter-spacing:2px ! important;font-size:13pt ! important;}
.sectionmoon h3 span {color:white ! important;}
.sectionmoon h4 {color:#c0565a ! important;}
.wolfnumbers span.op-04 {color:#fff ! important;}
.wolfnumbers .op-04, .wolfnumbers .h-op-04:hover {opacity:1 ! important;}
.wolfnumbers span {font-size:11pt ! important;}
.moonlaunch {background:rgba(0, 0, 0, 0.5) ! important;border:2px solid black ! important;border-radius:20px ! important;}
.moonlaunch .op-02, .moonlaunch .h-op-02:hover {opacity:1  ! important;line-height:18pt ! important;color:#c0565a ! important;}
.moonlaunch .col-3 {text-align:center;}
.moonlaunch img {display:inline-block;}
span.numbercounter {background:#c0565a ! important;display:inline-block;padding:2px 5px;color:black ! important;}
.uppercaseoverride {text-transform:uppercase ! important;}
span.secondcolor, .statssec .counter {color:#c0565a ! important;}
span.firstcolor {color:#c0565a ! important;}
.button i {margin-right:8px;}
#section-stats {margin:100px 0;}
.feature-box {text-align:center;}
#section-chains .fbox-icon {width:100%;text-align:center;}
#section-chains .fbox-icon img {display:inline-block;}
.wolfbutton {border-radius:10px ! important;color:#fff ! important;border:2px solid #fff ! important;background:#000 ! important;display:inline-block ! important;text-transform:capitalize ! important;font-family:Wolfs Bane;font-size:15pt;font-weight:normal ! important;}
.wolfbutton:hover {color:#c0565a ! important;border:2px solid #c0565a ! important;}
.aligncenter {width:100%;text-align:center;}
.portfolio-desc h3 {color:#c0565a ! important;text-align:center ! important;}
.portfolio-desc h3 a:hover {color:#c0565a;}
.portfolio-desc span {text-align:center ! important;}
#section-games {margin-top:40px;}
h3.meetthewolves {margin-top:130px ! important;margin-bottom:30px ! important;font-family:Wolfs Bane ! important;}
.menu-item button {background:none ! important;color:white ! important;border:none ! important;font-family:Wolfs Bane ! important;text-transform:uppercase ! important;padding:5px 10px ! important;}
.menu-item button:hover {color:#c0565a ! important;}
#transakLink {padding-right:20px ! important;}

.subpage .content {padding:30px 5%;width:100%;}
.subpage .maincon {margin-top:50px;color:#ccc;}
.subpage .maincon img {margin-bottom:30px;}
.subpage {background:url(../images/fearwolf/fear-wolf-background-subpage-3.jpg?v3) no-repeat black 0 50px ! important;background-size:100% ! important;}
.maincon {background:rgba(0,0,0,0.7) ! important;padding:40px 2%;width:100%;border-radius:10px;}
#header a.menu-link:hover .menu-button-link {color:#c0565a ! important;}

@media (max-width: 1500px) {
h3.meetthewolves {margin-top:70px ! important;}
}
@media (max-width: 1400px) {
h3.meetthewolves {margin-top:00px ! important;}
p.maindesc {font-size:13pt;}
.btn-border.size-lg {--btn-y-padding: 9px;--btn-x-padding: 15px;}
.itsshowtime2 {width:65%;}
}

@media (max-width: 1000px) {
.subpage .maincon {padding:30px 5% ! important;}
.itsshowtime2 {width:75%;}
}
@media (max-width: 840px) {
.itsshowtime2 {width:85%;}
.itsshow {padding-left:4%;}
#logo {padding-left:4%;}
p.maindesc {width:90% ! important;}
}

@media (max-width: 700px) {
.bigbutton2 {margin-bottom:15px;}
p.maindesc, span.questiontext {font-size:11pt ! important;}
h2.main-slogan {font-size:29pt;text-shadow:-1px 1px 1px #000;}
}

@media (max-width: 500px) {
.wolfnumbers span {font-size:9pt ! important;}
.mx-3 {margin-right:11px ! important;margin-left:2px ! important;}
.p-4 {padding:0 ! important;}
.socialsmall {bottom:-10px;}
.itsshow {padding-bottom:55px;margin-top:75px ! important;}
}

@media (max-width: 380px) {
h2.main-slogan {font-size:25pt;}
}

@media (max-width: 350px) {
.mx-3 {margin-right:11px ! important;margin-left:11px ! important;}
span.questiontext {font-size:10pt ! important;padding:7px ! important;}
#standard-logo span {height:43px;}
}

.dark .menu-button-link:hover {color:#c0565a ! important;}
h3.featuredgamesheader {font-family:Wolfs Bane ! important;text-shadow:-3px 3px 3px #000;}
.dark #header, #header.dark, .dark #header-wrap, .dark #header, #header.dark {border-bottom-color:transparent ! important;}
span.wolfred {color:#c0565a ! important;}
span.wolfred2 {color:#990000 ! important;}
span.wolfred3 {color:red ! important;}
span.wolforange {color:orange ! important;}
span.wolfwhite, .wolfwhite span {color:white ! important;}
.statssec .wolfwhite span {font-size:22pt ! important;}
#section-marketing {background-image:url(../images/fear-wolf-tree-wolf-moon-background-2.jpg);background-repeat:no-repeat;background-size:cover;}
#section-marketing .dark .testi-meta span {color:white ! important;}
#oc-testi .owl-item {border-right:none ! important;}
#section-marketing #oc-testi {background-color: rgba(0,0,0, 0.4) !important;}

.smallwolftrats {width:100%;margin-top:20px;text-align:center;}
.smallwolftrats .col-lg-3, .smallwolftrats .col-lg-2 {display:inline-block;}

p.maindesc {display:inline-block ! important;}
.whitelist p.maindesc {font-size:12pt ! important;width:auto ! important;display:inline-block ! important;}

.dev-content {width:100%;position:absolute;top:350px;left:7%;}
.dev-content p {color:white;}
.dev-content h2.main-slogan {display:block;padding-left:0;}
.dev-content2 {padding:20px 1% 20px 0;width:99%;}

@media (max-width: 1000px) {
#section-marketing {background-size:contain;}
.statssec .wolfwhite span {font-size:16pt ! important;}	
.whitelist p.maindesc {font-size:11pt ! important;width:auto ! important;display:inline-block ! important;}
.dev-content {top:165px;}
.dev-content h2.main-slogan {font-size:30pt;}
}

@media (max-width: 950px) {
.dev-content {top:90px;left:4%;} 
}
@media (max-width: 750px) {
.dev-content {top:295px;left:4%;} 
}

@media (max-width: 550px) {
.whitelist p.maindesc {color:#c0565a ! important;padding-left:0;}
.dev-content {top:235px;left:4%;} 
}
@media (max-width: 450px) {
.whitelist p.maindesc {color:#c0565a ! important;}
.dev-content {top:205px;left:4%;} 
}

@media (max-width: 500px) {
h2.main-slogan {font-size: 23pt;letter-spacing: 1px;}
.widget p {font-size:11pt;}
}

#oc-testi .owl-item.active .testi-meta {line-height:26px;}
#oc-testi .owl-item.active .testi-meta span {line-height:15px;display:block;margin-top:5px;}
#related-portfolio .icon-angle-right {line-height: 20px ! important;bottom: 7px;position: absolute;right: 13px;}
#related-portfolio .icon-angle-left {line-height: 20px ! important;bottom: 7px;position: absolute;left: 13px;}
.owl-carousel .owl-nav [class*=owl-] {border-radius:21px;}
.owl-next {right:10px;}
.owl-carousel .owl-nav .owl-next {right:10px ! important;bottom:100px ! important;}
.owl-carousel .owl-nav .owl-prev {left:10px ! important;bottom:100px ! important;}

.footernew {overflow:hidden;padding-right:5%;width:95%;color:#ccc;}
.footerleft {float:left;width:40%;}
.footerright {float:right;width:40%;text-align:right;}
.footernew h3 {color:#c0565a;}
.footernew p {color:#ccc;}
.dark .footer-widgets-wrap a, .footernew a {color:white;}


@media (max-width: 550px) {
.footerleft {float:left;width:100%;}
.footerright {float:right;width:100%;text-align:right;margin-top:20px;}
.footernew {padding:20px 5%;width:90%;}
}

#copyrights p, #copyrights a {color:#ccc;}
#copyrights p a:hover, #copyrights a:hover {color:#fff;}
.dev-content2 p a {color:#c0565a;}
a.twitterlink {color:#1dabdd ! important;}
a.discordlink {color:#646ef2 ! important;}
a.telegramlink {color:#33a9e4 ! important;}
a.instagramlink {color:#914ac6 ! important;}
a.youtubelink {color:red ! important;}
.dev-content2 p a:hover {color:white ! important;}
.sociallinks a {font-size:17pt ! important;display:inline-block;padding:0 5px;text-shadow: -4px 4px 2px #000;font-family:Wolfs Bane ! important;}


@media (max-width: 500px) {
.dev-content2 p {font-size:11pt;}
.dev-content h2.main-slogan {font-size:24pt;-webkit-text-stroke:0px;}
.dev-content {padding:0 3%;width:94%;}
.dev-content2 {padding:20px 0;}
}